*.swp
*.swo
node_modules/
.runenv
*.env
.eslintcache

.DS_Store

.env

.pnpm-debug.log
/*.log
*-800.png
*.zip

/builds/

*.acebase

/ignore/

tsconfig.tsbuildinfo

**/dist
public/*.js
!client/animations/**.js

**/*.d.ts
db.json
server/leveldb
server/temp
public/*.css
public/*.map
dep-graph*.svg

artifacts
cache
.vercel
yarn.lock
yarn-error.log
