node_modules/
.runenv
.eslintcache

.DS_Store

.pnpm-debug.log
/*.log
*-800.png
*.zip

/builds/

*.acebase

/ignore/

tsconfig.tsbuildinfo

**/dist
**/*.js
**/*.d.ts
db.json
server/leveldb
server/temp
public/*.css
public/*.map
