SHOULD_SERVE=yes # run live-server with npm start
SHOULD_TSC_WATCH=yes # tsc with npm start
SHOULD_TSC_CHECK=yes # tsc after npm run build
ESBUILD_NODE_ENV=development
ESBUILD_SHOULD_LINT=yes # applies to npm start and npm run build
