# all toggles are true if exactly 'yes' and otherwise false
# .env files in general only permit strings

# run live-server with npm start:
SHOULD_SERVE=yes
# tsc with npm start:
SHOULD_TSC_WATCH=yes
# tsc after npm run build:
SHOULD_TSC_CHECK=yes
ESBUILD_NODE_ENV=development
# applies to npm start and npm run build:
ESBUILD_SHOULD_LINT=yes

# variables handed directly to client start with CLIENT_
# disable the video background if your computer is hot:
CLIENT_DISABLE_BACKGROUND=yes
# log all API requests in client
CLIENT_LOG_API_REQUESTS=yes
# use local server
CLIENT_IS_LOCAL=yes
# IP or localhost
CLIENT_HOST=123.111.111.111
